* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

.animation-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.animation-image {
    width: 600px;
    height: 600px;
    position: relative;
    display: flex;
    align-items: flex-end;
}

.animation-image > img {
    width: 100%;
    height: auto;
    position: relative;
    top: 80px;
}

.animation-image__animated {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 40px);
    overflow: hidden;
}

.animation-image--steel .animation-image__animated__item {
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    top: -170px;
}

.animation-image--steel .animation-image__animated__item--small {
    width: 120px;
    top: -80px;
}

.animation-image--steel .animation-image__animated__item:is(:nth-child(1), :nth-child(9)) {
    left: 5%;
    top: -170px;
    transform: scale(-1, 1);
}

.animation-image--steel .animation-image__animated__item:is(:nth-child(2), :nth-child(10)) {
    left: 25%;
    top: -80px;
    transform: scale(-1, 1);
}

.animation-image--steel .animation-image__animated__item:is(:nth-child(3), :nth-child(11)) {
    left: 55%;
    top: -200px;
}

.animation-image--steel .animation-image__animated__item:is(:nth-child(4), :nth-child(12)) {
    left: 60%;
    top: -90px;
    transform: scale(-1, 1);
}

.animation-image--steel .animation-image__animated__item:is(:nth-child(5), :nth-child(13)) {
    left: 15%;
    top: -200px;
}

.animation-image--steel .animation-image__animated__item:is(:nth-child(6), :nth-child(14)) {
    left: 60%;
    top: -100px;
    transform: scale(-1, 1);
}

.animation-image--steel .animation-image__animated__item:is(:nth-child(7), :nth-child(15)) {
    left: 58%;
    top: -250px;
    transform: scale(-1, 1);
}

.animation-image--steel .animation-image__animated__item:is(:nth-child(8), :nth-child(16)) {
    left: 30%;
    top: -200px;
}

.animation-image--gas .animation-image__animated {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.animation-image__animated__item--gas {
    height: 100%;
    width: auto;
}

.animation-image__animated__item--gas:nth-child(2) {
    z-index: 3;
}

.animation-image__animated__item--gas:nth-child(2),
.animation-image__animated__item--gas__background {
    position: absolute;
}

.animation-image__gas__fill {
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: calc(100% - 170px);
    height: calc(100% - 82px);
    border-radius: 150px;
    overflow: hidden;
    z-index: 2;
    opacity: 0.5;
}

.gas-fill {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background-color: #0047BB;
    display: block;
    filter: url('#goo');
}

.gas-fill__item {
    width: 120px;
    height: 120px;
    background-color: inherit;
    display: block;
    border-radius: 50%;
    position: absolute;
    filter: url('#goo');
    animation: moving 1.5s ease infinite alternate-reverse;
    transform: translateY(0);
}

.gas-fill__item:nth-child(1) {
    top: -30px;
    left: -24px;
}

.gas-fill__item:nth-child(2) {
    top: -25px;
    left: 55px;
    animation-delay: 0.35s;
}

.gas-fill__item:nth-child(3) {
    top: -17px;
    left: 145px;
    animation-delay: 0.15s;
}

.gas-fill__item:nth-child(4) {
    top: -35px;
    left: 239px;
    animation-delay: 0.5s;
}

.gas-fill__item:nth-child(5) {
    top: -18px;
    left: 330px;
    animation-delay: 0.05s;
}

.gas-fill__bubbles {
    position: absolute;
    width: 40px;
    height: 40px;
    left: -80px;
    right: 0;
    margin: 0 auto;
    top: 0;
    opacity: 0;
    border-radius: 50%;
    background-color: inherit;
}

.gas-fill__bubbles--1 {
    top: 0;
    left: -80px;
    animation: bubbles 2.5s linear infinite;
}

.gas-fill__bubbles--2 {
    left: 100px;
    width: 60px;
    height: 60px;
    animation: bubbles-2 2.5s forwards infinite 0.5s;
}

.gas-fill__bubbles--3 {
    width: 30px;
    height: 30px;
    left: -100px;
    animation: bubbles-3 2.5s forwards infinite 1s;
}

.gas-fill__bubbles--4 {
    width: 30px;
    height: 30px;
    left: -2px;
    animation: bubbles-3 2.5s forwards infinite 1.5s;
}

.gas-fill__bubbles--5 {
    width: 40px;
    height: 40px;
    left: 100px;
    animation: bubbles-3 2.5s forwards infinite 0s;
}

.gas-fill__bubbles--6 {
    width: 30px;
    height: 30px;
    left: -80px;
    animation: bubbles-2 2.5s forwards infinite 1s;
}

.animation-image--oil .animation-image__animated__front,
.animation-image--oil .animation-image__animated__back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: auto;
    height: 100%;
}

.animation-image--oil .animation-image__animated__back {
    top: 12px;
    height: calc(100% - 20px);
}

.animation-image--oil .animation-image__animated__front {
    z-index: 3;
}

.animation-image__animated__oil {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 13px;
    margin: 0 auto;
    /* background-color: #0047BB; */
    width: calc(65% - 18px);
    height: 70%;
    left: -2.5%;
    border-radius: 0 0 75px 94px;
    /* filter: url('#goo'); */
    /* overflow: hidden; */
    background-image: url('https://mwpanerio.github.io/animation-playground/assets/images/coffee.png');
    background-repeat: repeat-x;
    background-position: 0 350px;
    animation: backgroundWave 2s linear infinite alternate;
}

.animation-image__animated__oil > span {
    display: block;
    position: absolute;
    width: 55%;
    padding-top: 45%;
    background-color: inherit;
    border-radius: 50%;
    animation: oil-moving 1s linear infinite alternate-reverse;
    display: none;
}

.animation-image__animated__oil > span:first-child {
    left: 0;
    top: -20%;
    animation: oil-moving 5s linear infinite alternate-reverse;
}

.animation-image__animated__oil > span:last-child {
    right: -3px;
    top: -45%;
    animation: oil-moving-2 3s linear infinite alternate-reverse 0.4s;
}

@keyframes moving {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50px);
    }
}

@keyframes bubbles {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    80% {
        transform: translateY(-200px);
        opacity: 0.5;
    }
    90% {
        transform: translateY(-200px);
        opacity: 0.25;
    }
    100% {
        transform: translateY(-200px);
        opacity: 0;
    }
}

@keyframes bubbles-2 {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    80% {
        transform: translateY(-250px);
        opacity: 0.5;
    }
    90% {
        transform: translateY(-250px);
        opacity: 0.25;
    }
    100% {
        transform: translateY(-250px);
        opacity: 0;
    }
}

@keyframes bubbles-3 {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    80% {
        transform: translateY(-300px);
        opacity: 0.5;
    }
    90% {
        transform: translateY(-300px);
        opacity: 0.25;
    }
    100% {
        transform: translateY(-300px);
        opacity: 0;
    }
}

@keyframes oil-moving {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10%);
    }
    100% {
        transform: translateY(-40%);
    }
}

@keyframes oil-moving-2 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(30%);
    }
    100% {
        transform: translateY(-15%);
    }
}

@keyframes backgroundWave{
	0%{
		background-position: -100px 350px;
	}
    50% {
        background-position: -1500px 0;
    }
    100% {
        background-position: -3000px 0;
    }
    /* 100% {
        background-position: -100px 0;
    } */
}